a {
  color: #373f51;
  background: "none";
  border: "none";
  cursor: "pointer";
}

a:visited {
  color: #373f51;
}

a.button:hover {
  color: #f5f5f5;
  background-color: #373f51;
}

a.link:hover {
  color: #e77728;
}

a.skip-link {
  padding: 10px;
  background: white;
  top: 0;
  left: 0;
  left: calc(50% - 63px);
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

a.skip-link:focus {
  transform: translateY(0%);
}
